[Match]
Name={{ item.name }}

[Network]
{% if item.dhcp is defined and item.dhcp %}
DHCP=yes
{% else %}
Address={{ item.ip_address }}
{% if item.anycast_gateway is defined %}
Address={{ item.anycast_gateway }}
{% endif %}
{% endif %}
Description={{ item.description }}

{% if item.dhcp is defined and item.dhcp %}
[DHCP]
UseDNS=false
UseRoutes=true
RouteMetric={{ item.metric }}
{% endif %}